.home-container {
    padding-left: 15%;
    padding-right: 15%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-container h1 {
    margin-bottom: 0.5em;;
}

table {
    width: 100%;
}

.extrato {
    font-weight: bold;
    text-decoration: underline;
}

.extrato:hover {
    color: #dec129;
}